In [3]:
!pip install pandas
!pip install pymongo
!pip install openpyxl
import pandas as pd
from pymongo import MongoClient
import json
from pandas import json_normalize


# load the raw data from csv into mongodb collection

try:
   
    client = MongoClient("mongodb+srv://Rittik8:Aishboom@clustertemp.frg5rlm.mongodb.net/?retryWrites=true&w=majority")
    print("Connected successfully!!!")
except:  
    print("Could not connect to MongoDB")
  
# database
db = client.json_python

# collection
raw_collection = db.test_json

data = pd.read_json(r'C:/Users/Rittik/Downloads/employees_nested_json.json')
payload = json.loads(data.to_json(orient='records'))
res = raw_collection.delete_many({})
db.raw_collection.drop()
res = raw_collection.insert_many(payload)
print ("records loaded...")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\rittik\appdata\roaming\python\python310\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rittik\appdata\roaming\python\python310\site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\rittik\appdata\roaming\python\python310\site-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rittik\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rittik\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\rittik\appdata\roaming\python\python310\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\rittik\appdata\roaming\python\python310\site-packages (from pymongo) (2.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\rittik\appdata\roaming\python\python310\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\rittik\appdata\roaming\python\python310\site-packages (from openpyxl) (1.1.0)
Connected successfully!!!
records loaded...

In [5]:
df = pd.DataFrame(json_normalize(list(raw_collection.find()),record_path=['datasets', 'orderDetails'],meta=[['dataset','orderId'],['dataset','customerId'],['datasets','shipmentDetails','street'],
['datasets','shipmentDetails','city'],['datasets','shipmentDetails','state'],['datasets','shipmentDetails','postalCode']],
errors='ignore'))

In [6]:
display(df)

,productId,quantity,sequence,totalPrice.gross,totalPrice.net,totalPrice.tax,dataset.orderId,dataset.customerId,datasets.shipmentDetails.street,datasets.shipmentDetails.city,datasets.shipmentDetails.state,datasets.shipmentDetails.postalCode
0,prd9001,2,1,550,500,50,ord1001,cust5001,M.G.Road,Delhi,New Delhi,110040
1,prd9002,3,2,300,240,60,ord1001,cust5001,M.G.Road,Delhi,New Delhi,110040
2,prd9001,1,1,275,250,25,ord1002,cust5002,Malad,Mumbai,Maharastra,400064
3,prd9004,4,2,1000,900,100,ord1002,cust5002,Malad,Mumbai,Maharastra,400064

In [7]:
result = df.to_json(orient="records")

doc = json.loads(result)

In [8]:
db = client.json_new_python

In [9]:
collection = db.test_json_flattened

In [10]:
res = collection.insert_many(doc)

In [11]:
cursor = collection.find()
for record in cursor:
    print(record)

{'_id': ObjectId('6356b154cc8dac1df8e06f64'), 'productId': 'prd9001', 'quantity': 2, 'sequence': 1, 'totalPrice.gross': 550, 'totalPrice.net': 500, 'totalPrice.tax': 50, 'dataset.orderId': 'ord1001', 'dataset.customerId': 'cust5001', 'datasets.shipmentDetails.street': 'M.G.Road', 'datasets.shipmentDetails.city': 'Delhi', 'datasets.shipmentDetails.state': 'New Delhi', 'datasets.shipmentDetails.postalCode': '110040'}
{'_id': ObjectId('6356b154cc8dac1df8e06f65'), 'productId': 'prd9002', 'quantity': 3, 'sequence': 2, 'totalPrice.gross': 300, 'totalPrice.net': 240, 'totalPrice.tax': 60, 'dataset.orderId': 'ord1001', 'dataset.customerId': 'cust5001', 'datasets.shipmentDetails.street': 'M.G.Road', 'datasets.shipmentDetails.city': 'Delhi', 'datasets.shipmentDetails.state': 'New Delhi', 'datasets.shipmentDetails.postalCode': '110040'}
{'_id': ObjectId('6356b154cc8dac1df8e06f66'), 'productId': 'prd9001', 'quantity': 1, 'sequence': 1, 'totalPrice.gross': 275, 'totalPrice.net': 250, 'totalPrice.tax': 25, 'dataset.orderId': 'ord1002', 'dataset.customerId': 'cust5002', 'datasets.shipmentDetails.street': 'Malad', 'datasets.shipmentDetails.city': 'Mumbai', 'datasets.shipmentDetails.state': 'Maharastra', 'datasets.shipmentDetails.postalCode': '400064'}
{'_id': ObjectId('6356b154cc8dac1df8e06f67'), 'productId': 'prd9004', 'quantity': 4, 'sequence': 2, 'totalPrice.gross': 1000, 'totalPrice.net': 900, 'totalPrice.tax': 100, 'dataset.orderId': 'ord1002', 'dataset.customerId': 'cust5002', 'datasets.shipmentDetails.street': 'Malad', 'datasets.shipmentDetails.city': 'Mumbai', 'datasets.shipmentDetails.state': 'Maharastra', 'datasets.shipmentDetails.postalCode': '400064'}